{% extends 'padre.html' %}

{% load static %}

{% block title %} Cursos {% endblock %}

{% block h1 %} Listado de Cursos {% endblock %}

{% block contenido %}

    <main class="container-lg">
        <table class ="table">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Camada</th>
            </thead>
            <tbody>
                {% for n in cursos %}
                <tr>
                    <th scope="row">{{n.id}}</th>
                    <td>{{n.nombre}}</td>
                    <td>{{n.camada}}</td>
                    <td><a href="{% url 'eliminar_curso' n.id %}" class="btn btn-outline-danger btn-sm">Borrar</a></td>
                    <td><a href="{% url 'editar_curso' n.id %}" class="btn btn-outline-warning btn-sm">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success btn-sm" href="{% url 'alta_curso' %}">Registrar curso</a>
    </main>
    
{% endblock %}