{% extends 'padre.html' %}

{% load static %}

{% block title %} Editar Profesor {% endblock %}

{% block h1 %} Formulario - Editar Profesor {% endblock %}

{% block contenido %}

    <main class="container-lg">
        <form class="form-control" action="{% url 'editar_profesor' profesor.id %}" method="POST">
            {% csrf_token %}
            <p>Nombre</p>
            {{mi_formulario.nombre}}
            <p>Especialidad</p>
            {{mi_formulario.especialidad}}
            <p>Correo</p>
            {{mi_formulario.correo}}

            <button class="btn btn-outline-success btn-sm">Enviar</button>
        </form>
    </main>
    
{% endblock %}