{% extends 'padre.html' %}

{% load static %}

{% block title %} Alta Alumnos {% endblock %}

{% block h1 %} Formulario - Agregar Alumno {% endblock %}

{% block contenido %}
    
    <main class="container-lg">
        <form class="form-control" action="alta_alumnos" method="POST">
            {% csrf_token %}
            <p>Nombre</p>
            <input type="text" name="nombre" required>
            <p>Correo</p>
            <input type="email" name="correo" required>

            <button class="btn btn-outline-success btn-sm">Enviar</button>
        </form>
    </main>

{% endblock %}