{% extends 'padre.html' %}

{% load static %}

{% block title %} Alta Curso {% endblock %}

{% block h1 %} Formulario - Agregar Curso {% endblock %}

{% block contenido %}

    <main class="container-lg">
        <form class="form-control" action="alta_curso" method="POST">
            {% csrf_token %}
            <p>Nombre</p>
            <input type="text" name="nombre" required>
            <p>Camada</p>
            <input type="number" name="camada" required>

            <button class="btn btn-outline-success btn-sm">Enviar</button>
        </form>
    </main>
        
{% endblock %}
