{% extends 'padre.html' %}

{% load static %}

{% block title %} Alta Profesor {% endblock %}

{% block h1 %} Formulario - Agregar Profesor {% endblock %}

{% block contenido %}

    <main class="container-lg">
        <form class="form-control" action="alta_profesor" method="POST">
            {% csrf_token %}
            <p>Nombre</p>
            <input type="text" name="nombre" required>
            <p>Especialidad</p>
            <input type="text" name="especialidad" required>
            <p>Correo</p>
            <input type="email" name="correo" required>

            <button class="btn btn-outline-success btn-sm">Enviar</button>
        </form>
    </main>

{% endblock %}