{% extends 'padre.html' %}

{% load static %}

{% block title %} Perfil {% endblock %}

{% block h1 %} {{mensaje}} {% endblock %}

{% block contenido %}

    <main class="container-lg">
        <h2>¡Es un gusto que estes de vuelta con nosotros!</h2>
        <div class="container-lg">        
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card">
                        <img src="{{ url }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{usuario}}</h5>
                            <p class="card-text">"This is fantastic! Thanks so much guys!"</p>
                            <a class="btn btn-outline-success" href="">Enviar mensaje</a>
                            <form method="POST" action="{% url 'Logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Salir</button>
                            </form>
                            <a href="{% url 'EditarPerfil' %}" class="btn btn-outline-warning">Editar</a>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}