{% extends 'padre.html' %}

{% load static %}

{% block title %} Profesores {% endblock %}

{% block h1 %} Listado de Profesores {% endblock %}

{% block contenido %}

    <main class="container-lg">
        <table class ="table">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Correo</th>
            </thead>
            <tbody>
                {% for n in profesores %}
                <tr>
                    <th scope="row">{{n.id}}</th>
                    <td>{{n.nombre}}</td>
                    <td>{{n.especialidad}}</td>
                    <td>{{n.correo}}</td>
                    {% if request.user.is_authenticated %}
                    <td><a href="{% url 'eliminar_profesor' n.id %}" class="btn btn-outline-danger btn-sm">Borrar</a></td>
                    <td><a href="{% url 'editar_profesor' n.id %}" class="btn btn-outline-warning btn-sm">Editar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-success btn-sm" href="{% url 'alta_profesor' %}">Registrar profesor</a>
    </main>

{% endblock %}