{% extends 'padre.html' %}

{% load static %}

{% block title %} Resultados {% endblock %}

{% block h1 %} ¿Encontraste lo que buscabas? {% endblock %}

{% block contenido %}

    <main class="container-lg">
        {% if curso %}
            <ul>
            {% for curso in curso %}
                <li>Nombre: {{curso.nombre}}</li>
                <li>Camada: {{curso.camada}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron cursos con ese nombre </p>
        {% endif %}
    </main>
    
{% endblock %}